<ion-header>
  <ion-navbar>
    <ion-title>
      Oauth facebook modules
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div padding>
      <button ion-button (click)="connectFacebook()" *ngIf="connected==false">Sign In via Facebook</button>
    </div>
    <div padding>
      <button ion-button (click)="checkConnectivityState()">Check Connectivity Status</button>
    </div>
    <div padding>
      <button ion-button (click)="disconnectFromFacebook()" *ngIf="connected">Disconnect</button>
    </div>
    
    <ion-card *ngIf="connected">
    <img src="{{output.picture}}"/>
    <div class="card-title">{{output.name}}</div>
    <div class="card-subtitle">{{output.gender}}</div>
  </ion-card>
</ion-content>
