<ion-header>
  <ion-navbar>
    <ion-title>
      Oauth facebook modules
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div padding>
      <button ion-button (click)="connectFacebook()" *ngIf="connected==false">Sign In via Facebook</button>
    </div>
    <div padding>
      <button ion-button (click)="connectFacebookAPI()" >Login Facebook Laravel API</button>
    </div>
    <div padding>
      <button ion-button (click)="checkConnectivityState()" *ngIf="connected">Check Connectivity Status</button>
    </div>
    <div padding>
      <button ion-button (click)="disconnectFromFacebook()" *ngIf="connected">Disconnect</button>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>Access Token</ion-label>
        <ion-input type="text" [(ngModel)]="inputValue" name="email"></ion-input>
      </ion-item>
    </ion-list>

    <ion-card *ngIf="connected">
    <img src="{{output.avatar}}"/>
    <div class="card-title">{{output.name}}</div>
    <div class="card-subtitle">{{output.gender}}</div>
  </ion-card>
</ion-content>
