<ion-header>
  <ion-navbar>
    <ion-title><h2>APP & Go API Tests</h2></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" *ngIf="connected">
        <ion-icon name="ios-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!connected">
    In this application, we will test all the API features of APP&Go
  </p>
  <p *ngIf="connected">Hello <b>{{userinfo.name | uppercase}}</b>your have {{aclService.getRoles().length}} roles <br>
      {{aclService.getRoles()}}
  </p>
  <form (ngSubmit)="auth()" *ngIf="!connected">
    <p style="color:red;">{{error}}</p>
    <ion-list>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button type="submit">Sign In</button>
    </div>
  </form>

  <ion-list *ngIf="connected">
      <ion-item>
        <ion-label>LIST USER</ion-label>
        <ion-checkbox  checked="{{aclService.can('list.users')}}" disabled="{{!aclService.can('list.users')}}"></ion-checkbox>
      </ion-item> 
      <ion-item>
        <ion-label>ADD USER</ion-label>
        <ion-checkbox  checked="{{aclService.can('add.user')}}" disabled="{{!aclService.can('add.user')}}"></ion-checkbox>
      </ion-item> 
      <ion-item>
        <ion-label>DELETE USER</ion-label>
        <ion-checkbox  checked="{{aclService.can('delete.user')}}" disabled="{{!aclService.can('delete.user')}}"></ion-checkbox>
      </ion-item> 
      <ion-item>
        <ion-label>MANAGE USERS</ion-label>
        <ion-checkbox  checked="{{aclService.can('manage.users')}}" disabled="{{!aclService.can('manage.users')}}"></ion-checkbox>
      </ion-item> 
      <ion-item>
        <ion-label>MANAGE PERMISSIONS</ion-label>
        <ion-checkbox  checked="{{aclService.can('manage.permissions')}}" disabled="{{!aclService.can('manage.permissions')}}"></ion-checkbox>
      </ion-item> 
      <ion-item>
        <ion-label>MANAGE ROLES</ion-label>
        <ion-checkbox  checked="{{aclService.can('manage.roles')}}" disabled="{{!aclService.can('manage.roles')}}"></ion-checkbox>
      </ion-item> 
  </ion-list>






</ion-content>
